.weather-search-fields {
  position: relative;
}

.weather-search-input {
  width: calc(100% - 80px);
}

.weather-search-btn-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 8px;
}
