.weather-wrapper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 1.5rem 6rem;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: show-weather-wrapper 3s 1;
  animation-fill-mode: forwards;
}

@keyframes show-weather-wrapper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
}

.weather-main {
  display: flex;
  flex-direction: column;
  margin: 2rem 1.5rem;
  width: 25rem;

  .weather-city-name {
    font-weight: 600;
    color: $weather-city;
    margin-bottom: 2rem;
    margin: 10px 0;
  }

  .weather-main-temp {
    display: "flex";
  }

  span {
    font-weight: 200;
    font-size: 7rem;
    color: $weather-main-temp;
    margin-left: 1.5rem;
    line-height: 1;

    sup {
      line-height: 0;
    }
  }

  .weather-desc {
    text-align: left;
    color: $weather-desc;
    margin: 10px 0;
  }
}

.weather-additional {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;

  svg {
    filter: contrast(0);
    margin-right: 5px;
  }
}

.weather-feels-like {
  font-size: 1.25rem;
  color: $weather-main-temp;
}

.weather-highlow-container {
  display: flex;
  margin-bottom: 2rem;
  width: 2rem;
}

.weather-degree {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.25rem;
  color: $weather-addinfo;
  margin-top: 0.8rem;
  margin-right: 2.5rem;
}

.weather-info-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.8rem;

  div {
    display: flex;
    align-items: center;
    font-size: 1rem;
    width: 8rem;
  }

  span {
    color: $weather-addinfo;
    font-weight: 500;
    font-size: 1rem;
  }
}

.weather-icon {
  width: 100px;
  height: 100px;
}

@media (max-width: 800px) {
  .weather-container {
    justify-content: center;
  }

  .weather-main {
    margin: 2rem 0rem;
    width: initial;
  }

  .weather-main .weather-city-name,
  .weather-main .weather-desc {
    text-align: center;
  }
}
